[2020-10-05 13:38] Sandeep-sreekumar opened #5 "Security under AAS"
Can you provide an example AAS file with a security block ? An example for simple RBAC and a example showing ABAC in a AAS sample would be helpful?

[2020-10-05 13:39] Sandeep-sreekumar opened #6 "Qualifiers in AAS"
Could you provide some practical examples of using Qualifiers under Submodel elements?

[2020-10-09 17:31] ChristianDiedrich-42 opened #7 "Requests from project VWS vernetzt"
•	Zurzeit gibt es keine eindeutige Referenz zwischen Asset Instanz und Asset Type. Ähnlich wie die SemanticId bei der Submodel Instanz Template Referenzierung. Relationship ist nicht ausreichend, da diese von der Bedeutung nicht spezialisiert auf Typ/Instanzbeziehung ist.  Man kann zwar auf der AAS Ebene mit dem Attribute „derivedFrom“ deren Beziehung darstellen. Das entspricht aber nur einer impl

[2020-10-26 20:26] BirgitBoss opened #8 "Workspace->Plugins->New Submodel - misleading error message "AASX Package needs to be open""
When selecting Workspace.Plugins.New Submodel I always get the error message that "an aasx package needs to be open". I just click "ok" and then continue selecting the submodel plugin and everything is fine.

That is, the error message is not valid and misleading.

[2020-10-26 20:33] BirgitBoss commented on #7
Bzgl. des Bugs zu assetKind habe ich einen Bug im package explorer angelegt: https://github.com/admin-shell-io/aasx-package-explorer/issues/241

[2020-10-26 20:36] BirgitBoss commented on #7
Bzgl. Frage "Wie wird eine eclass – Klasse in der semanicId referenziert?"
Warum soll da anders als bei Properties sein? Einfach die komplette IRDI angeben wie auch bei Properties.

Das Beispiel " | 23-11-01-19 Maschinenschraube mit Kopf ohne Antrieb [AAW994017]" zeigt den Code (letzter Teil) und wohl den preferred name und zusätzlich noch die Klasse darüber (ganz vorne)?
Möchte man nicht die ganz

[2020-10-26 20:38] BirgitBoss commented on #7
Ich verstehe die Anforderung "es müsst eine semantische, d.h. maschineinterpretierbare Identifikation geben, ob ein Submodel für Typ oder Instanz gültig ist" - allerdings: gilt nicht allgemeiner, dass für jedes Submodel-Template irgendwie klar sein müßte, für welche Art Assets es geeignet ist? Type und Instances eines Assets ist da nur ein spezieller Fall davon.
Interessant wäre zu wissen, welche

[2020-10-26 20:41] BirgitBoss commented on #7
Versionierung beim Submodel-Template: vollkommen richtig, sollten wir so empfehlen!

https://github.com/admin-shell-io/questions-and-answers#id18
Die Frage ist, ob unsere Beispiele hier, die alle keine Versionierung haben, aktualisiert werden sollen?

[2020-10-26 20:43] BirgitBoss commented on #7
Best practice bei "**(idShort) bei mehrerer Instanzen eines Submodelelements*: einfach nur durchnummerien wäre eine. Die andere wäre, es abhängig vom Submodel-Template zu machen, da die Elemente manchmal auch andere semantiken haben wie hinten-links, hinten-rechts usw. Ganz pauschal kann man das also nicht sagen.

[2020-10-26 20:44] BirgitBoss commented on #7
Können Template Submodels und Instanz-Submodels gemischt in einer AAS liegen?
Die Spec verbietet es nicht. Im Ziel wird es aber wie du schreibst, Submodel Template Repositories geben, von den die Submodel-instanzen abgeleitet werden können.

[2020-10-28 10:15] BirgitBoss commented on #8
This is a message for pagacke explorer and not valid for questoins-and-answers, sorry

[2020-10-28 10:15] #8 closed

[2020-11-26 10:59] MichaelHoerning opened #9 "Best Practice for Nesting Administration Shells"
Is there a best practice for creating a system of  shells?
I want to have a shell for each of my devices and these should be aggregated under a parent shell of my system, where the devices are built into. These structure should be searchable like registry.

The submodel "VDMA VWS für Roboter" in the document "VWS in der Praxis" shows a topology submodel which uses ReferenceElement to refer to the

[2020-12-01 19:39] BirgitBoss commented on #6
The aasx package explorer provides some predefined standardized qualifiers that can be directly used. There is not yet a document explaining how to use the qualifiers besides the standards themselves the qualifiers were extracted from.
So yes, good examples are still missing and should be provided.

[2020-12-01 19:43] BirgitBoss commented on #9
In V2.0 special submodel elements were introduced to be able to model so-called "bill of materials" (attribute from Asset in V2.0 or AssetInformation in V3.0RC01): **Entity** that can be either co-managed or self-managed (if it has its own AAS). Relationships between the entities are modelled via RelationshipElements.

The aasx package explorer provides some aasx examples for modeling bill of mate

[2020-12-01 19:46] BirgitBoss commented on #5
In the following documebnt examples and more background information on attribute access control and access control in general can be found:

„Access control for Industrie 4.0 components for application by manufacturers, operators and integrators“, Plattform Industrie 4.0, Discussion Paper, Sept. 2019 (German Version Nov. 2018), [Online]. Available:  [https://www.plattform-i40.de/PI40/Redaktion/EN/

[2020-12-10 21:45] BirgitBoss commented on #9
see also answer in https://github.com/admin-shell/aasx-package-explorer/issues/35

[2020-12-19 21:07] BirgitBoss opened #10 "Update Question idShort/ShorName/preferredName: now there is also a displayName"
Update Question "How is the relation between idShort, shortName and preferredName for a submodel element and the related concept description?"
Since Version 4.0RC01 an attribute DisplayName was introduced to referables.
the rules are defined as follows:

If no display name is defined in the language requested by the application, then the display name is selected in the following order if available

[2020-12-19 21:11] BirgitBoss opened #11 "semanticId not mandatory for SubmodelElements any longer, update answert to question"
Update question "Are semanticID(s) optional or mandatory?" **https://github.com/admin-shell-io/questions-and-answers#id40**

Since V3.0RC01 semanticId is not longer mandatory for SubmodelElements.

[2020-12-19 21:12] BirgitBoss opened #12 "attribue "local" in References was removed - update answer"
Update question "Can semantic ID(s) be used without defining a concept description within the AAS package?"

In V3.0RC01 of part 1 of AAS in Detail the attribue "local" in References was removed.

Minor: correct typo:  pakckage ==> package

[2020-12-19 21:18] BirgitBoss opened #13 "How to define the relationship between asset instance and asset type and the corresponding submodels"
Extracted from #7  for easier tracking

• Zurzeit gibt es keine eindeutige Referenz zwischen Asset Instanz und Asset Type. Ähnlich wie die SemanticId bei der Submodel Instanz Template Referenzierung. Relationship ist nicht ausreichend, da diese von der Bedeutung nicht spezialisiert auf Typ/Instanzbeziehung ist. Man kann zwar auf der AAS Ebene mit dem Attribute „derivedFrom“ deren Beziehung darstel

[2020-12-19 21:20] BirgitBoss opened #14 "How does the version of a submodel impacts referencing of a submodel?"
Extracted from #7  for easier tracking

Submodel Template Versionierung
o Die Versionierung bei einem Template ist zwingend erforderlich und sollte am Ende der SemanticId erfolgen
o Verallgemeinerung: müsste nicht bei allen Referenzen eine Version mitgegeben werden können?
o Vorschläge IRI wie IRDI mit Version/Revision ausstatten
• In die ReferenzType Definition Version/Revision aufnehmen
• Versio

[2020-12-19 21:21] BirgitBoss opened #15 "Is it allowed to have Submodel templates and submodel instances in the same AAs?"
Extracted from #7 for easier tracking

Können Template Submodels und Instanz-Submodels gemischt in einer AAS liegen? Oder müssen Template und Instanz AAS hinsichtlich Template-Submodel getrennt modelliert werden.
o Mischung von Template und Instanzen in einer AAS dann sinnvoll, wenn es ein spezifische Submodel gibt  es ist also erlaubt
o Ziel sollte es sein so viel Temlate Submodel wie möglich al

[2020-12-19 21:22] BirgitBoss opened #16 "how should I name a submodel element if there are more than one with the same semanticId?"
Extracted from #7 for easier tracking

• Wie benennt man (idShort) bei mehrerer Instanzen eines Submodelelements in einer AAS?
o idShort ist nur referable. Bei identifiable elemente dürfen in einer AAS idShorts mehrfach verwendet werden
o es ist nur für das Lesen von Menschen von Bedeutung
o hier brauchen wir eine best practice Regel

[2020-12-19 21:23] BirgitBoss opened #17 "How to reference an ECLASS application or classification class?"
Extracted from #7 for easier tracking:

Wie wird eine eclass – Klasse in der semanicId referenziert? Z.B.
  | 23-11-01-19 Maschinenschraube mit Kopf ohne Antrieb [AAW994017]

[2020-12-19 21:24] BirgitBoss commented on #15
Answer from #7:
Können Template Submodels und Instanz-Submodels gemischt in einer AAS liegen?
Die Spec verbietet es nicht. Im Ziel wird es aber wie du schreibst, Submodel Template Repositories geben, von den die Submodel-instanzen abgeleitet werden können

[2020-12-19 21:24] BirgitBoss commented on #17
Answer from #7:
Bzgl. Frage "Wie wird eine eclass – Klasse in der semanicId referenziert?"
Warum soll da anders als bei Properties sein? Einfach die komplette IRDI angeben wie auch bei Properties.

Das Beispiel " | 23-11-01-19 Maschinenschraube mit Kopf ohne Antrieb [AAW994017]" zeigt den Code der IRDI (letzter Teil) und wohl den preferred name und zusätzlich noch den Klassifikations-Code, der vom

[2020-12-19 21:25] BirgitBoss commented on #13
https://github.com/admin-shell-io/questions-and-answers/issues/7#issuecomment-716809634

[2020-12-19 21:29] BirgitBoss commented on #14
https://github.com/admin-shell-io/questions-and-answers/issues/7#issuecomment-716810708:

[2020-12-19 21:31] BirgitBoss commented on #16
https://github.com/admin-shell-io/questions-and-answers/issues/7#issuecomment-716810708:

Best practice bei "**(idShort) bei mehrerer Instanzen eines Submodelelements*: einfach nur durchnummerien wäre eine. Die andere wäre, es abhängig vom Submodel-Template zu machen, da die Elemente manchmal auch andere semantiken haben wie hinten-links, hinten-rechts usw. Ganz pauschal kann man das also nicht sa

[2020-12-19 21:36] BirgitBoss commented on #7
For the different questions separate issues were created (#13, #14, #15, #16 and #17 and  admin-shell-io/aasx-package-explorer#241 ) for better maintainability and tracking.
Please use these seaprates issues for further commenting. Please feel free to add comment and suggestions to these issues.
If I missed something please feel free to either reopen this issue or directly add a separate issue. Th

[2020-12-19 21:36] #7 closed

[2020-12-19 21:37] BirgitBoss commented on #5
see also admin-shell-io/aasx-package-explorer/issues/316

[2020-12-19 21:40] BirgitBoss commented on #16
naming might also be dependent on displayName, see admin-shell-io/questions-and-answers/issues/10

[2020-12-19 21:46] BirgitBoss commented on #13
see also admin-shell/aasx-package-explorer/issues/38

[2020-12-19 21:48] BirgitBoss opened #18 "eCl@ss was renamed to ECLASS"
eCl@ss was renamed to ECLASS: update eCl@ss in all questions and answers

[2021-01-07 14:47] BirgitBoss opened #19 "Question id12 predefined Submodel names - consider standardized submodel templates"
https://github.com/admin-shell-io/questions-and-answers/tree/master#id12

In the meantime the first submodel templates are standardized: corresponding links should be added/the list of names extended.

[2021-01-08 14:03] BirgitBoss opened #22 "Update References to AAS documents"
Update AAS Documents links:
https://www.plattform-i40.de/PI40/Redaktion/EN/Standardartikel/specification-administrationshell.html

In the meantime Part 2 as well as V3.0RC01 of Part 1 were released.

[2021-01-08 14:37] #22 closed

[2021-01-11 11:46] aorzelskiGH opened #25 "How to treat ECLASS Quantity Concept in AAS?"
![image](https://user-images.githubusercontent.com/48956800/104178633-f7e02480-540a-11eb-9ccf-7ac15bd5256e.png)

[2021-01-11 11:47] aorzelskiGH opened #26 "How to define optional and mandatory elements for a submodel of Kind=Template?"

[2021-01-11 12:20] #16 closed

[2021-01-11 12:33] #15 closed

[2021-01-11 13:37] BirgitBoss commented on #25
The metamodel of the AAS (status: V3.0RC01) does not explicitly support the concept of quantities. This means, in case properties are not defined in ECLASS or in any other standardized dictionary it is not possible to specify the quantity of this proprietary property. In case the property is defined in ECLASS then the quantity is defined in ECLASS itself but the corresponding IRDI is not available

[2021-01-11 16:13] BirgitBoss opened #31 "Update #id31 Fotos of assets"
Update https://github.com/admin-shell-io/questions-and-answers#id31

With V3.0RC01 of Part AAS the class "assetInformation" with "defaultThumbnail" was introduced. The type of thumbnail is File.

[2021-01-11 20:33] BirgitBoss commented on #13
One solution might be to add an optional assetType attribute to AssetAdministration/AssetInformation. The value corresponds to the globalAssetId of the Asset Type.

[2021-01-13 10:33] StenGruener commented on #31
addressed in #32

[2021-01-18 10:12] JoergNeidig opened #36 "How to deal with "property values" that include multiple values?"
How to deal with "property values" that include a set of values, e.g. seperated by comma? Examples are colors in rgb, coordinates, etc. Is there a specific format for these property elements? How can one transport that a specific format is required?
Could one use the formula qualifier as RegEx to describe the allowed format? What about more complex property values, i.d structs?

[2021-01-18 10:19] JoergNeidig opened #37 "derivedFrom for marking a submodel kind=instance that is derived from a submodel kind=template"
A clear definition/guide on how to use the derivedFrom-association when referencing that a submodel kind=instance has been derived from a submodel kind=template.
Maybe it should be discussed what is needed to model this relationship: reference via semanticID, derivedFrom, instanceOf, ...? The semantic of derivedFrom should be clearly defined. Does it include instanceOf?
Should be discussed togethe

[2021-01-20 15:56] StenGruener opened #38 "Optional and mandatory elements for Submodel of Kind=Template"
copy of question 43 from excel

[2021-01-20 15:57] StenGruener commented on #38
duplicated

[2021-01-20 15:57] #38 closed

[2021-01-20 15:57] StenGruener commented on #26
question 43 from legacy excel

[2021-01-20 15:59] StenGruener commented on #10
this is same question as number 44 in execl

[2021-01-20 16:01] StenGruener opened #39 "Example needed for a CD with a isCaseOf reference"
question 46 in excel

[2021-01-20 16:02] StenGruener opened #40 "Example needed for valueID on an ECLASS example"
question 46 from excel

Practicioners need an example for use a valueID of an some ECLASS enum, e.g. a color

[2021-01-25 12:51] #25 closed

[2021-02-08 12:33] #31 closed

[2021-02-08 12:45] #11 closed

[2021-02-08 12:53] aorzelskiGH opened #41 "Where do I find standardized submodel templates?"
When an overview page of submodel templates is available, revise the following topic:
[Which names are already defined for important submodels?](#id12)

[2021-02-08 12:55] #19 closed

[2021-02-08 17:19] BirgitBoss commented on #40
Example:
02-BA975 degree of protection
and valueId 07-WAA046 for value IP65

Note: when implementing the ECLASS/IEC Importer into the AASX Package Explorer it was discussed that it is not the string "IP65" that is the value but the number defined in ECLASS

[2021-02-08 17:23] BirgitBoss commented on #37
There is not derivedFrom association between submodels of kind=instance and kind=template.

The relationship "derivedFrom" can be established between AAS for an Asset with assetKind=Instance and AAS for an AssetKind=Type.

[2021-02-08 17:31] BirgitBoss opened #42 "Add github discussion tab?"
Perhaps we should consider to add a github discussion tab because issues should only deal with questions that really shall be part of the FAQ. github discussion might be more open.

[2021-02-22 12:47] StenGruener opened #43 "22.02.2021: ECLASS multivalent values"
How to map them to value

[2021-02-22 12:48] StenGruener opened #44 "22.02.2021: Usage of ECLASS blocks"
When is it possible to re-use ECLASS blocks as semantic IDs of SMCs

[2021-03-11 03:54] andyrose-kr opened #45 "Question on how to connect OPC UA array data with AAS"
I participated in a pilot project (KOSMO, Nestfield) in Korea to collect data by connecting OPC UA data from field devices to AAS in the cloud. During the project, I found out that there are many array type OPC UA data are defined in field devices. However, when creating AAS using the Aasx package explorer, I couldn't find a way on how to define array type data as a property.

From an AAS point of

[2021-03-31 09:00] JoMMC opened #46 "Package Explorer: Import of a sub model"
How can I import a sub model into a open AASX file?
Which format works (JSON, CSV,...)?
May I have a template (JSON-structure, CSV-file)?
Thanks

[2021-04-11 09:22] ChristianDiedrich-42 opened #47 "Asset Typerkundung"
Asset-Typerkundung mit der AAS

Beschreibung der Asset-Typerkundung:
Die I4.0-Verwaltungsschale unterscheidet beim repräsentierten Asset zwischen Typ und Instanz. Dabei sagt ein Typ aus, dass das Asset noch nicht existiert, sondern sich innerhalb seines Lebenszyklus noch als Modell vor der Produktion befindet. Instanz wird es mit der Produktion.
Informationen über die Art des Produkts beinhaltet d

[2021-04-30 16:58] BirgitBoss commented on #47
Hallo Christian, die letzte API-Operation soll wohl eher

•GetAllAssetAdministrationShellsByAssetTypeId

heissen. Bislang haben wir nur die "derivedFrom"-Beziehung zwischen AAS, die u.a. für diese Beziehung verwendet werden sollte.
Das muss in der ARbeitsgruppe zur Verwaltungsschale diskutiert werden.

[2021-04-30 17:08] BirgitBoss commented on #46
There are probably several ways to "import" a submodel. The easiest way I would suggest is to open two AAS in the AASX Package Explorer and just copy
- open the AAS you want to copy the submodel into
- "File-Open Auxiliary AAS" open aasx you want to copy from
- call "Copy from existing submodel" with "copy recursively" and then select the submodel you want to insert

[2021-04-30 17:11] BirgitBoss commented on #44
Blocks in ECLASS are for multiple instantiation. This is perhaps what you are referring to? In this case you additionally need the context of the block and thus two semanticIds. In May a new joint publication of ECLASS and Plattform Industrie 4.0 will be published that explains how this could be done.

[2021-04-30 17:17] BirgitBoss commented on #39
See https://github.com/admin-shell-io/questions-and-answers#id34 for one example how to use isCaseOf (ECLASS And IEC CDD Properties shall be referenced at the same time)

[2021-04-30 18:23] ChristianDiedrich-42 commented on #47
Liebe Birgit,

wollen wir miteinander reden, oder wollt Ihr erst intern diskutieren.

Gruß
Christian

Von: Birgit Boss ***@***.***>
Gesendet: Freitag, 30. April 2021 18:59
An: admin-shell-io/questions-and-answers ***@***.***>
Cc: Diedrich, Christian, Prof.Dr. ***@***.***>; Author ***@***.***>
Betreff: Re: [admin-shell-io/questions-and-answers] Asset Typerkundung (#47)

Hallo Christian, die letzte

[2021-05-17 10:50] BirgitBoss commented on #43
see also #43 for arrays in OPC UA

[2021-05-17 11:16] #10 closed

[2021-05-17 11:18] StenGruener commented on #43
Forwarded: Birgit will take it to sub working group AAS of AG1 for further discussions

[2021-05-17 11:18] #43 closed

[2021-05-17 11:19] StenGruener commented on #47
Forwarded: Birgit will take it to sub working group AAS of AG1 for further discussions

[2021-05-17 11:19] #47 closed

[2021-05-17 11:31] StenGruener commented on #45
Short-term solution:
"Blob"-element e.g. "[1,2,3,4,5]" as a "serialized" JSON-value format (see upcoming time series submodel template). The data types of array's content, e.g. string, float or integer, can be defined using custom semantic ID of the submodel element.

Design decisions: take "Blob" instead of String in order not to overload generic UIs with representation of possibly long arrays.

[2021-05-17 12:03] StenGruener commented on #44
On hold: wait for joint publication of ECLASS and Plattform Industrie 4.0

[2021-05-31 11:09] #45 closed

[2021-05-31 11:48] StenGruener commented on #42
Discussions created

[2021-05-31 11:48] #42 closed

[2021-05-31 11:58] StenGruener commented on #41
See also question 12 https://github.com/admin-shell-io/questions-and-answers#id12

[2021-05-31 11:59] StenGruener commented on #18
was accepted on 31.05.

[2021-05-31 12:05] StenGruener commented on #18
closed in c1696bd49b34daca118f9b2b56ec5681aa015f97

[2021-06-14 11:12] StenGruener commented on #6
fixed in 825863149e3070c99da3460eef67459b60f628ed

[2021-06-14 11:12] #6 closed

[2021-06-14 11:12] #18 closed

[2021-06-14 11:24] StenGruener commented on #9
revisit 14.06. :
 When do I need BOM, vs using references to external AASs and Submodels (which relationship types).
**- BOM way: dedicated submodel with self- or co-managed assets**
-- Self-managed assets have own asset ID which can be queried for AAS
-- Scope of BOM: relations between *assets* and not *AASs*, BOM submodel defies "isPartOf" or "isIdentical" as relation types
-- Advantage: BOM-AAS

[2021-06-14 11:45] StenGruener commented on #13
revisit on 14.06.21:
- what about qualifier on submodel level? e.g. assetTypes?

[2021-06-14 11:57] StenGruener commented on #14
recheck: 14.06.
- "Versioning within semantic id e.g. "https://github.com/admin-shell-io/id/tree/master/DataSpecificationTemplates/DataSpecificationIEC61360/ **2/0**":
-- Breaking semantic changes, i.e., other meaning
-- Possibly, complete break of external-interface
-- Not clarified yet which meaning "major" and "minor" parts within the semantic ID are having. Currently they correspond to the ver

[2021-06-28 11:48] #9 closed

[2021-07-12 11:49] StenGruener commented on #17
12.07.21: Example of AAS-model containing ECLASS information to be discussed in one of next meetings.

[2021-07-19 09:00] alw-iwu commented on #41
Are there machine-readable files from official sources that implement these submodel templates? Also considerations about formats would be interesting:
1. AAS, serialized as AASX, JSON, XML etc.
2. JSON-Schema, XSD to perform validation against.

[2021-08-23 11:26] StenGruener commented on #41
@alw-iwu Currently, a publicly available repository of sub-model templates as AASX files is being prepared by IDTA. We are not aware of any automatic validation implementations.

[2021-08-23 11:30] #41 closed

[2021-09-03 10:20] StenGruener commented on #37
Any decision made here @BirgitBoss @JoergNeidig?

[2021-09-03 10:29] StenGruener commented on #26
I propose to take mandatory/optional qualifiers from AAS submodel templates used by AAS package Explorer.
![image](https://user-images.githubusercontent.com/69786685/131991210-61830fb6-2659-43f0-b8a3-e1650ac83b03.png)
So the qualifier name is "Multiplier" and values are "One", "ZeroToOne", "ZeroToMany", "OneToMany"

[2021-09-03 10:30] StenGruener commented on #17
Mail to BV went out

[2021-09-03 10:32] #5 closed

[2021-09-06 08:16] StenGruener commented on #12
This is question 41

"
Can semantic ID(s) be used without defining a concept description within the AAS package?

Yes. Please use the following alternatives:

type=ConceptDescription, local=True: the concept description is within the package or deployed on the same server like the element referring to it
type=ConceptDescription, local=False: the concept description is located within a different pa

[2021-09-06 11:09] StenGruener commented on #26
06.09: make a statement of a "temporary workaround", a clean solution will be provided by Plattform later

[2021-09-06 11:16] StenGruener commented on #39
@degoell could you please provide the AAS with an example? + add a second isCaseOf relation to 0112/2///61987#ABA565

[2021-09-06 11:19] StenGruener commented on #37
06.09.21: submodel with kind=instance and kind=template should have same semanticID to indicate the applicability of the template

[2021-09-06 11:21] StenGruener commented on #12
Can semantic ID(s) be used without defining a concept description within the AAS package?

Yes. Please use the following alternatives:

type=ConceptDescription: 2 cases: 1) the concept description is within the package or deployed on the same server like the element referring to it and 2) the concept description is located within a different package or possibly deployed on a different server than

[2021-09-06 11:22] StenGruener commented on #36
6.9.21: still open

[2021-09-06 11:32] StenGruener commented on #14
How does the version of a submodel impacts referencing of a submodel?

"Versioning within semantic id e.g. for URIs "0173-xxx-zzz-zzz#version" or "https://admin-shell.io/sandbox/zvei/nameplate/0/1/Nameplate":
-- Possibly, breaking semantic changes, i.e., other meaning
-- Possibly, reverse-compatibility, e.g. extension
-- Not clarified yet which meaning "major" and "minor" parts within the semantic

[2021-09-06 11:47] StenGruener opened #52 "Discuss Endpoint Reference in AAS specification"
Issue brought in by JN

Torben Miny (@TorbenD), Thomas Uesländer: DIN Spec examples?
@sebastiankb: WoT examples

![image](https://user-images.githubusercontent.com/69786685/132213138-91f31695-b632-4050-b722-30d2ebf9d95c.png)

[2021-09-06 13:01] JoergNeidig opened #53 "How to model information for communication to asset (southbound), e.g. for device on-boarding?"
Consider scenarios in which property values contain up-to-date actual/meassured values, i.e. the AAS acts as a gateway for online runtime data of the asset. An exemplary use case could work as follows:
1) Device manufacturer supplies AAS for the asset which includes the device's connectivity information
2) Integrator imports AAS into his automation engineering system and has now the necessary conn

[2021-09-06 14:34] mmarseu opened #54 "How to correctly match semanticIds?"
As far as I understand, AAS clients are expected to access submodel elements not by matching their idShorts but by their semanticId. However, the semantics of semanticIds and concept descriptions aren't sufficiently clear to me to come up with an algorithm to match elements by semanticId.

I'll be using this heavily cut-down JSON serialization as an example to illustrate my problem:

[code]

Given

[2021-09-20 11:53] StenGruener commented on #53
20.09.2021: Could we have an example of referencing an OPC UA variable by means of a) an endpoint description and b) a nodeId of the variable and c) ??

[2021-09-20 12:02] StenGruener commented on #54
Hi @mmarseu,

Thank you for the cool question!

Our _current working assumption_ is:

left side; match, id of the CD is the same as the semantic id when used as "GlobalReference"
right side: match, since isCaseOf is an "alternative" or "derived" definitions

We will check with futher experts and give you updates.

[2021-09-22 10:23] sebastiankb commented on #52
I had a discussion with Prof. Diedrich and some of his colleagues and it seems that the intention of the endpoint definition here is only to use it for the description of the AAS Type-2 interface and not for the asset itself. I just want to double check with you if this is correct?

[2021-09-22 11:06] #39 closed

[2021-09-22 11:07] #37 closed

[2021-09-22 11:07] #14 closed

[2021-09-22 11:07] #26 closed

[2021-10-04 11:17] StenGruener commented on #52
04.10.2021: concluded: quoted structures from REST API are for AAS "northbound" communication. Origin of the structures is from DIN SPEC 16593-1 (currently WIP). In the current document revision it is stated, that the focus of the DIN SPEC is on "ip-based communication", without industrial communication busses and legacy 4-20mA devices.

[2021-10-04 11:35] StenGruener commented on #53
04.10.2021: @aorzelskiGH: could you please provide us with a screenshot/AAS example with an OPC UA variable reference you presented a while ago.
@sebastiankb: will present an overview of WoT-TD on 18.10.2021

[2021-10-04 11:38] StenGruener commented on #36
04.10.2021: current discussion in der UAG VWS, on hold until @BirgitBoss will update us with a decision.

[2021-10-25 10:00] hvags opened #59 "Using RDF as an interchange format"
RDF in the form of Turtle files is presented in the documentation as one option for presentation of AAS data for semantic purposes. However the "Details of the Asset Administration Shell" document refers to the AAS serializations packaged in an AASX file as "either json or xml". I would be interested in knowing if this is intentional or if RDF/Turtle should be considered equal to json or xml for e

[2021-11-15 12:11] StenGruener commented on #59
15.11.2021: according to "Details of the Asset Administration Shell" mapping to RDF is defined and possible. However, AASX Package Explorer and AASX Server do not support RDF encoding. However, RDF encoding is supported by https://github.com/admin-shell-io/java-serializer.

[2021-11-16 21:44] BirgitBoss commented on #54
In V3.0RC02 a new chapter dealing with matching semanticIds will be included. The is-Case-of-attribute is not yet considered, I will submit this as a finding. In general matching can be much more advanced when taking external ontologies into account. Especially when using capabilities.

[2021-11-16 21:46] BirgitBoss commented on #44
Publication now available: https://www.plattform-i40.de/IP/Redaktion/DE/Downloads/Publikation/Whitepaper_Plattform-Eclass.html

[2021-11-17 06:20] mmarseu commented on #54
Great news, thank you very much. I'm looking forward to the new release, then.

[2021-11-26 18:24] BirgitBoss commented on #59
We consider rdf to be a suitable format for more enhanced applications, e.g. requiring complex queries. So it is just that the focus is a little bit different when to use which format.

[2021-12-03 08:23] hvags commented on #59
Thank you both for your feedback. One more question I had regarding this is whether the serialization/deserialization to/from RDF/Turtle is lossless. That is, does the RDF data model support all structures in the AAS or are there any caveats there?

Also @StenGruener - am I wondering if your 'todo' tag means we'll be seeing the rdf serialization  implemented in C# within the AASX Package Explorer

[2021-12-03 08:25] StenGruener commented on #59
@hvags 'todo' in this repository means to add this question to the FAQ ;)

Leaving the the answer to the main question to more knowledgeable colleagues.

[2021-12-07 15:14] ChristianDiedrich-42 opened #60 "SumodelEment change while instantiating Submodel template"
Why did I lost information such as the description or data type of the submodel-element when instantiating a
    template-submodel? This happens both via the inclusion of the template as a plugin and via "Open Auxiliary AAS".

[2021-12-08 15:23] StenGruener commented on #54
proposal: put on hold until V3.0RC02

[2021-12-08 15:25] StenGruener commented on #60
@ChristianDiedrich-42 i guess it is an issue regarding AASX package explorer, transfering the issue

[2021-12-13 07:59] StenGruener opened #62 "AAS Registries for Submodel Templates and Instances"
Q: Is there a way to determine submodel kind (i.e., Template or Instance) from a Registry without loading the actual submodel from via AAS-repository API?
A: Currently submodel kind can not be retrieved using Registry-API. We propose to maintain a dedicated registry for submodel Templates.

[2021-12-13 12:26] #12 closed

[2021-12-13 12:55] StenGruener commented on #62
@BirgitBoss: can this discussion be checked within the UAG?

[2021-12-14 21:20] BirgitBoss commented on #62
I will put it to the agenda next year. But I agree: you should not mix AAS instances (or Submodel instances) and Submodel Templates in a single registry/repository. The requirements are very different.

[2022-01-20 12:06] imcardle opened #64 "Any examples of using a BOM submodel?"
Does anyone have an example of using a BOM submodel to create an AAS for a product/machine which comprises several other assets?  If you could share such an example with me that would be much appreciated.

[2022-02-02 08:53] alw-iwu commented on #64
Has there been standardization for this? If yes, I'd be interested as well. As of now I have just created a Submodel with a single SMC (SML in V3RC02-terms) with Entity-SMEs.

[2022-02-02 09:06] alw-iwu commented on #59
When using the java-serializer and java-model in conjunction, the de/serialization is lossless. The spec (V3RC01) was slightly unclear in some instances but the implementation has ensured completeness.

[2022-02-02 12:22] StenGruener commented on #64
@imcardle, are you aware of this paper: https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/AAS_Reference_Modelling.pdf?__blob=publicationFile&v=5 ? Examples are available here: http://liabroker.ddns.net:51001/

[2022-02-02 15:13] imcardle commented on #64
@StenGruener - No, I was not aware of that paper, or the nice examples that you mentioned!  Thank you very much - I will take a look at them.

[2022-02-02 15:27] StenGruener commented on #64
Great, please keep us in the loop in case of positive or negative findings!

[2022-02-07 16:59] imcardle opened #65 "What are the semantic features of AASX Package Explorer?"
It is useful to know about the special features in AASX Package Explorer, such as the BOM graphical view which shows the parent/child relationships between the parts of the BOM.  This feature can be used by setting the sematic ID of a sub-model equal to the value "http://example.com/id/type/submodel/BOM/1/1" - but it seems like you have to know this value exists in order to make use of it!

Some o

[2022-02-07 17:15] imcardle opened #66 "Is there a complete list of sub-model templates?"
Is there a complete list of named sub-model templates somewhere?  The Q&A includes some of them (like Nameplate, for example) but there seem to be others that are missing e.g. MCAD and Service.

[2022-02-16 11:00] omron-tammar1 opened #67 "AAS Events - propagate changes between Package Explorers via AAS Server"
Is it possible to use AAS Events to propagate the updated value of a property from one instance of the Package Explorer to another, via an AAS Server.
To clarify the two Package Explorers are connected via REST to the same server and viewing the same AAS, a change is made to a property in one Package Explorer, saved back to the server, should the second Package Explorer update the property?
From t

[2022-02-21 12:37] StenGruener opened #68 "List and Categorization of questions"
@degoell

[2022-02-21 12:38] StenGruener commented on #64
@vojanbe could you please add a reference to IDTA-WG?

[2022-02-21 12:42] StenGruener commented on #65
@imcardle: would you please reference this question to https://github.com/admin-shell-io/aasx-package-explorer/ repo. We are aware of those https://github.com/admin-shell-io/aasx-package-explorer/search?l=JSON&q=AllowSubmodelSemanticId + documentation submodel (no info in json).

[2022-02-21 12:42] #65 closed

[2022-02-21 12:47] StenGruener commented on #66
@imcardle there is a list of submodels coming from IDTA (please scroll to the bottom of the page): https://industrialdigitaltwin.org/en/content-hub

[2022-02-21 12:53] StenGruener commented on #67
@omron-tammar1: Currently the specification of AAS Events is in progress. It means that all demos are non-stable and are expected to be changed once the specification is ready.

@aorzelskiGH: any technical insights of how it is currently realized in AASXServer/AASXPackageExplorer?

[2022-02-21 12:56] StenGruener commented on #59
@BirgitBoss @MichaelHoffmeisterFesto could you confirm the statement about "lossless conversion" or name anyone who is able to answer?

[2022-02-21 12:59] StenGruener commented on #52
21.02.2022: There is an IDTA working group "Asset Interface" with the following scope:
 “Standardization of the structure and semantics required to interact with an asset or service, e.g., to request/subscribe to specific data points or to perform operations based on communication protocols such as Modbus, OPC UA, HTTP, and MQTT. The W3C Web of Things Thing Description is considered to have a base

[2022-02-21 12:59] StenGruener opened #69 "Security Metamodel"
### Discussed in https://github.com/admin-shell-io/questions-and-answers/discussions/63

<div type='discussions-op-text'>

<sup>Originally posted by **gillistephan** December 22, 2021</sup>
Hi everyone, I have a question / looking for some hints regarding the (1) modeling and implications of the Security Metamodel in order to implement proper authz and (2) scenarios for operation.

Question 1:
To

[2022-02-22 19:03] BirgitBoss commented on #59
@alw-iwu could you please let us know what was unclear so that we can make the spec. more precise. Thank you!

[2022-02-22 19:04] BirgitBoss commented on #59
As @alw-iwu stated: it is "lossless". If it is not, I would consider it a bug.
@sebbader : what do you say?

[2022-02-22 19:15] BirgitBoss commented on #69
"If Subject X has the Permission Read on the AAS itself, does this implicitly also apply Permission Read to all Submodels?"

No, this is not the case. The AAS just contains logical IDs of its submodels. If you want to access the submodels themselves you need to fetch the endpoint of a submodel via the registry. The submodel can have completely different access rights.

With respect to permissions:

[2022-02-22 19:16] BirgitBoss commented on #69
The second question is. It clear to me, do you mean APIs?

[2022-02-22 19:20] BirgitBoss commented on #69
You may be interested in this video from @aorzelskiGH on security with the Asset Administration Shell: https://youtu.be/CH_mguOJ0Ko

[2022-02-22 19:22] BirgitBoss commented on #66
GitHub now public, links are working

[2022-02-22 19:34] BirgitBoss commented on #54
I do not understand why missing isCaseOf information should have any impact on the matching. For me SecondSubmodel matches niceConcept: the IDs are identical. Same for ThirdSubmodel and goodConcept.

[2022-02-23 07:13] mmarseu commented on #54
Interesting, thank you. You're saying that a matching id on the concept description is always enough to constitute a match with the concept, disregarding the presence of any references in *isCaseOf*?

By extension, that means if I'm looking for a specific semantic concept (e.g. `https://ex.org/niceConcept`) and I find an element with that IRI, it doesn't even matter whether the semanticId is a *Gl

[2022-02-25 17:27] egekorkan opened #71 "How to know compliance/profile of an AAS Server Interface"
The [specification](https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/Details_of_the_Asset_Administration_Shell_Part2_V1.html) of the AAS Server interface mentions:

The separate interfaces of the HTTP/REST API allow many different ways to support such different deployments. A later version of this specification will define related profiles.

From this, I understand that not all A

[2022-02-28 13:37] egekorkan commented on #71
I think that is fine and would be an issue belonging to the repository of the [AASXserver](https://github.com/admin-shell-io/aasx-server). However, my main point is that the spec allows different levels of implementation coverage via the profiles (which is not yet finalized). I think it would be necessary that the root endpoint of a server (like https://admin-shell-io.com/51411/) provides either a

[2022-02-28 14:36] StenGruener commented on #71
cannot really judge it, afaik @aorzelskiGH has already started work to implement the "real" OpenAPI specification no the server

[2022-03-07 11:27] StenGruener commented on #62
Cleaned up text proposal for now:
Q: Is it possible to determine submodel kind (i.e., Template or Instance) from a Registry without loading the actual submodel from via AAS-repository API?
A: Currently submodel kind can not be retrieved using Registry-API. This issue will be addressed by standardization working groups. In the meantime, we propose to maintain a dedicated registry for submodel templ

[2022-03-07 11:30] StenGruener commented on #68
pull request available

[2022-03-07 11:30] #68 closed

[2022-03-07 11:33] StenGruener opened #72 "Template versions "Digital Nameplate""
@vojanbe
Wir haben eine AAS mit dem digitalen Typenschild und dafür das Template v1.0 und v1.1 benutzt.
In der Instanz-AAS haben wir nun 2x das Typenschild mit der idShort „Nameplate“.

In der Nameplate-Teilmodell Spezifikation wird vorgeschrieben, dass die semanticID und idShort standardisiert ist.
Ist es einerseits erlaubt, zwei Teilmodelle mit der gleichen idShort zu verwenden?
Würde die API da

[2022-03-07 12:24] StenGruener commented on #71
@egekorkan we are closing the issue for now, since we cannot fix/answer it in this group. Please feel free to update us on eventually opening an issue for the specification itself. @aorzelskiGH: let us discuss this one in the next group meeting briefly.

[2022-03-07 12:24] #71 closed

[2022-03-07 12:43] StenGruener commented on #69
07.03.22: wait for @aorzelskiGH

[2022-03-07 12:51] StenGruener commented on #64
https://industrialdigitaltwin.org/en/content-hub/submodels "Bill of Material" working group

[2022-03-15 10:00] imcardle opened #73 "How to represent kinematic model for robotics"
Has a standard been proposed for the modelling of kinematics in AAS?  Common file formats for this information already exist (e.g. URDF files) - so perhaps the intention is for this information to simply be referenced or added as supplementary files in the AAS?  In any case, some guidance on the best practice would be useful, I think.

[2022-03-21 09:54] #66 closed

[2022-03-21 09:54] #62 closed

[2022-03-21 09:57] StenGruener commented on #64
Q: Is there an example using a Bill of Material (BOM) submodel to create an AAS for a product/machine which comprises several other assets?
A: An example of modeling is provided in the following publication: https://www.plattform-i40.de/IP/Redaktion/EN/Downloads/Publikation/AAS_Reference_Modelling.pdf?__blob=publicationFile&v=5 ? Examples are available here: http://liabroker.ddns.net:51001/. **Not

[2022-03-21 12:27] StenGruener commented on #69
@gillistephan any updates on your question after the meeting with Andreas on 31.1.? Something which might be valuable for the I4.0 community and can be posted in our Q&A list.

[2022-03-21 12:49] StenGruener commented on #73
@imcardle: we are not aware of any dedicated kinematic models within AAS.

However, if you are coming more from the simulation direction, the IDTA working group Simulation might be interesting for you. Here is one example: https://github.com/admin-shell-io/submodel-templates/blob/main/development/Simulation/1/0/Festo_VWS_DGST_8078833_16_02_2021_enl_1_FMU.aasx

On the other hand, embedding files wi

[2022-03-21 12:50] StenGruener commented on #53
@sebastiankb

[2022-03-21 13:51] sebastiankb commented on #53
The recently formed "Asset Interface Description" working group deals with this use case and tries to find the best place in the AAS model to provide the metadata needed, eg, to subscribe runtime data of an asset.

[2022-03-21 15:04] GoetzGoerisch commented on #53
How are you taking OPC 10000-21 here into account?

[2022-06-13 11:10] #73 closed

[2022-06-13 11:10] #64 closed

[2022-06-13 11:12] StenGruener commented on #72
13.06.2022: @vojanbe

[2022-06-13 11:13] StenGruener commented on #53
closed as part of the working group scope

[2022-06-13 11:13] #53 closed

[2022-06-13 11:14] #52 closed

[2022-07-21 10:54] StenGruener opened #77 "Example of using ValueIDs"
Q: How should ValueIDs be using within Submodels to model to model ENUMS from IEC 61360-based semantic dictionaries like CDD and ECLASS.
A:
In scope of AAS modeling, the concept of ValueIDs should be used to map those ENUMS. Typically enum values have a string representation and an IRDI for unique identification. AAS specs state the following usage guide:
![image](https://user-images.githubusercon

[2022-07-21 13:43] StenGruener commented on #72
@StenGruener todo publish

[2022-08-01 08:47] StenGruener commented on #13
Q: How to define the relationship between asset instance and asset type wrt. corresponding submodels.
A: For AAS, the relation "derivedFrom" should be used. For assets themselves, no such relation is currently available in the meta-model.

[2022-08-01 08:59] StenGruener commented on #36
01.08.2022: Currently multi-value properties are not available in the metamodel.

[2022-08-01 09:01] #40 closed

[2022-08-01 09:03] StenGruener commented on #44
![image](https://user-images.githubusercontent.com/69786685/182113495-58e13eb0-8e9e-434f-b79b-9ea230d15da9.png)

[2022-08-01 09:05] StenGruener commented on #44
TODO: find an example

[2022-08-01 09:08] StenGruener commented on #54
5.4.6 Matching Strategies for Semantic Identifiers
in DotAAS

[2022-08-01 09:15] StenGruener commented on #69
currently Chapter 7 of DotAAS is the only authoritative source

[2022-08-03 08:17] felix-schubert opened #78 "AssetInformation References"
I have questions on creating the AssetAdminstrationShell.AssetInformation entities.

Given an asset with serial-number "SN-123" and an RFID identification of "0456" and a namespace "https://company.com/assets/".
globalAssetId should be a globally unique reference, hence composed of namespace and serial-number:
https://company.com/assets/SN-123

specificAssetId will be a SpecificAssetId for the ser

[2022-08-12 09:19] JensMueller2709 opened #79 "How to deal with the AASX File Service Interface of Part 2?"
Regarding the AASX File Server Interface, there are some open questions about the intention of this interface. Following a screenshot out of the AAS part 2 specification document and the link to the belonging [Swagger](https://app.swaggerhub.com/apis/Plattform_i40/Entire-API-Collection/V1.0RC03#/AASX%20File%20Server%20API/GetAllAASXPackageIds) what i´m referring to.
![image](https://user-images.gi

[2022-08-12 09:30] StenGruener commented on #79
Hi Jens,

a) IMHO you are right and these apis are thought to be used for servers that just "host" the AASX files and serve them. Also probably it is intended to mostly upload and update packages. Downloading AASX can also be realized using /serialization resources.

b) imho you could check which AAS are in which package by evaluating GetAASXByPackageId. Personally, I'd disregard this "package" th

[2022-08-12 10:22] JensMueller2709 commented on #79
Hi Sten,
thanks for your fast reply.

Using the `/serialization` interface for downloading the uploaded .aasx files (or just parts of it) means that a service needs to parse the AASX files (thoughts of mentioned option b)). In my thinking, a single file server (option a)) only supports uploading/downloading the entire .aasx file. Am i wrong?

I agree with you. For type 2 AAS the other interfaces a

[2022-08-12 10:32] StenGruener commented on #79
Afaik the color is blue in the spec = this interface is only for HTTP

[2022-08-12 14:55] StenGruener commented on #54
**[How to correctly match semantic IDs?](#ghid54)** <a id="ghid54"></a>

Please refer to section "5.4.6 Matching Strategies for Semantic Identifiers" with DotAAS specification (we used v3.0RC02) for IRDI-based strategies.

[2022-08-15 10:48] #59 closed

[2022-08-15 11:11] #13 closed

[2022-08-15 11:17] #36 closed

[2022-08-15 11:21] #77 closed

[2022-08-15 11:37] StenGruener commented on #44
@JoergNeidig find a *simple* example ECLASS block

[2022-08-15 11:45] StenGruener commented on #54
consensus 15.08.2022: isCaseOf has no impact on semantic equivalence and can be ignored for automatic matching strategies.

[2022-08-15 11:51] StenGruener commented on #54
Since AasDot v3.0 RC2 semanticId has always to have "GlobalReference" type, so no direct reference to a ConceptDescription is possible

[2022-08-15 11:58] StenGruener commented on #54
in general String.Equals should be used to check semantic equivalence. A exception is encoding/decoding using Base64-URL encoding for interacting with the REST API.

[2022-08-15 12:17] mmarseu commented on #54
This simplifies things. Will this be explicitly stated in the next version?

Where does it say that? What I'm seeing in RC2 is a recommendation but no requirement.

![image](https://user-images.githubusercontent.com/47556460/184632444-f97a4ab8-fc9e-4557-ac1b-fb34486e732a.png)

How do you link an element to a concept description, then?

Alright, but care must be taken regarding case-sensitivity whe

[2022-08-16 13:31] JoergNeidig commented on #44
A good example is the SMC “Fax” from the AAS Submodel “ContactInformation”. The SMC “Fax” is 100% identical with the BLOCK “Fax” (0173-1#01-ADR444) in ECLASS.

[2022-09-20 13:36] changqin26 opened #84 "How to describe the target Unit for phys_unit:conversionFactor?"
Hello,

in the AAS Data Specification Physical Unit, we have the attribute - conversionFactor. The screenshot is the example from the Specification, where the unit "1/min" has a conversion factor 1.0/60. However, the target/output unit after applying this conversion factor is not indicated within this template. In other words, how should we express the actual meaning of this conversion factor?

![

[2022-09-24 07:07] changqin26 commented on #84
Hello @BirgitBoss, may you have a clue to this question?

[2022-09-24 16:29] BirgitBoss commented on #84
I am not really an expert on physical unit and its conversions. Probably the confusion arises from the fact that one additionally needed data specification for quantities is not (yet) offered to completely describe the semantics of a physical unit.
In the example you need to refer to the ECLASS dictionary and Wiki for this missing information.

[2022-09-24 16:35] BirgitBoss commented on #78
Not all specific IDs shall be visible to all users when looking up Asset Administration Shells. For example there typically is a manufacturer-part-ID, but several customer-part-IDs and only the customer shall be able to search for the digital twin via this specific asset ID.

The term "subject" is taken from ABAC (Attribute Based Access Control). It is assumed that the "subject" can be described b

[2022-09-27 11:10] changqin26 commented on #84
Thanks for the hint, our customer has a clue to solve it now. We can close this issue.

[2022-09-27 11:10] #84 closed

[2022-09-27 12:30] StenGruener commented on #84
@changqin26 any insights you could share?

[2022-09-27 12:36] changqin26 commented on #84
@StenGruener A new attribute of Physical Unit called "targetUnit" will be added and point to the IRDI of the target unit in Eclass or in CDD.

[2022-11-21 09:10] StenGruener commented on #17
@vojanbe

[2022-11-21 11:42] StenGruener commented on #72
Q: How to use different versions of the same submodel (e.g. different versions of the "digital nameplate") which share same IdShort?
A: In the current API specification AAS Part 2 V1.0RC03 the unique Submodel Id is expected for a GET/submodels/{submodelIdentifier} and no longer the Submodel IdShort. This enables distinguishing between the particular submodel instance.

[2022-11-21 12:55] StenGruener commented on #78
@BirgitBoss: could you please provide a minimal example of a reference used for externalSubjectId? Also maybe some words regarding for access control-relevant usage (within Catena-X)?

[2022-11-21 13:02] StenGruener commented on #79
Comments have been brought into part2 review.

[2022-11-24 13:15] BirgitBoss commented on #78
In [Business Partner Data Management](https://catena-x.net/en/angebote/bpdm) each partner in the ecosystem Catena-X gets a unique ID, the so-called BPN (Business Partner Number). This BPN can then be used as value of externalSubjectId.

Info: the externalSubjectId will be optional in the next version of the specification. If empty the specific asset ID is visible to all having access to the regist